h1 {
    font-size: 150%;
    line-height: 100%;
}

h2 {
    font-size: 125%;
    line-height: 100%;
}

.logo {
    width: 50%;
}


table {
    font-size: 110%;
    width: 50%;
}

.cover {
    background-color: #f3d82b;
    width: 90%;
    margin: 2%;
    padding: 1%;
    
    -moz-box-shadow: 10px 10px 5px #ddd;
    -webkit-box-shadow: 10px 10px 5px #ddd;
    box-shadow: 10px 10px 5px #ddd;
}
