@(logEntryForm: Form[LogEntry])(implicit flash: Flash, lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("logEntries.form")) {
    <h2>@Messages("logEntries.form")</h2>

    @if(flash.get("error").isDefined){
	    <div class="alert alert-error">
		    @flash.get("error")
	    </div>
    }
	
	@helper.form(action = routes.LogEntries.save(), 'class -> "form-horizontal") {

        @helper.inputText(logEntryForm("name"), '_label -> Messages("logEntries.form.name"), '_class -> "control-group")
        @helper.textarea(logEntryForm("comment"), '_label -> Messages("logEntries.form.comment"), '_class -> "control-group")


        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">@Messages("logEntries.form.submit")</button>
                <a href="@controllers.routes.LogEntries.list()" class="btn">@Messages("logEntries.form.back")</a>
            </div>
        </div>
	
	}
}

