@(logEntries: List[LogEntry])(implicit flash: Flash, lang: Lang)

@main(Messages("application.title")) {

    <p class="text-center">
        <a href="@controllers.routes.Application.index()">
            <i class="icon-home"></i>        
        </a>    
        <a class="btn btn-inverse" href="@controllers.routes.LogEntries.newLogEntry()">
            <i class="icon-plus icon-white"></i> @Messages("logEntries.new.command")
        </a>
    </p>

    @if(flash.get("success").isDefined){
	    <div class="alert alert-success">
		    @flash.get("success")
	    </div>
    }

    @if(flash.get("error").isDefined){
	    <div class="alert alert-error">
		    @flash.get("error")
	    </div>
    }


    @for(logEntry <- logEntries) {
        <table class="table table-bordered">
            <tr><td><b>@Messages("logEntries.list.date") </b><em>@logEntry.date.format("dd.MM.yyyy hh:mm")</em></td></tr>
            <tr><td><b>@Messages("logEntries.list.name") </b><em>@logEntry.name</em></td></tr>
            <tr><td><b>@Messages("logEntries.list.comment") </b><em>@logEntry.comment</em></td></tr>
        </table>            
    }
}

